.Account {
  width: 50%;
  height: 20rem;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.Account__Avatar {
  width: 100%;
  height: 60%;
  margin: 0;
}

.Account__Avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Account__Details {
  padding: 0.5rem 1rem; 
}

@media screen and (max-width: 768px) {
  .Account {
    width: 80%;
  }
}

@media screen and (max-width: 526px) {
  .Account {
    width: 100%;
  }
}