.PodcastLayout {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 1fr;
}

.Podcast__Comments {
  margin-top: 2rem;
}

.Podcast__Comments > h2 {
  margin-bottom: 1rem;
}

.Comment {
  width: 100%;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.Comment__Avatar {
  width: var(--comment-avatar);
  height: var(--comment-avatar);
  border-radius: 50%;
  overflow: hidden;
}

.Comment__Avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Watch {
  width: 100%;
  grid-template-columns: 15% 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
  align-content: center;
  align-items: center;
}

.Watch__Avatar {
  width: var(--watch-avatar);
  height: var(--watch-avatar);
  border-radius: 50%;
  overflow: hidden;
}

.Watch__Avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .PodcastLayout {
    display: flex;
    position: relative;
  }
}

