.LoginForm {
  width: 40%;
  height: 90vh;
  background-color: white;
  padding: 1rem 8vmin;
}

.QuestionForm {
  border: 1.5px solid var(--border-color);
  padding: .8rem;
  margin-bottom: 1rem;
  border-radius: 10px;
}

.AnswerInput {
  width: 75% !important;
}

@media screen and (max-width: 1024px) {
  .LoginForm {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .LoginForm {
    width: 70%;
  }
}

@media screen and (max-width: 526px) {
  .LoginForm {
    width: 100%;
    height: 100vh;
  }
}

.Form--Upload {
  width: 60%;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .Form--Upload {
    width: 100%;
  }
}