.Text--white {
  color: white;
}

.Text--orange {
  color: var(--alert-color);
}

.Text--success {
  color: var(--success-color);
}

.Text--info {
  color: var(--thumbnail-color);
}

.Text--primary {
  color: var(--dark-gradient-color);
}

.Title {
  font-size: 18px;
  color: var(--title-color);
  font-family: "Poppins", Arial;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.Text--bold {
  font-weight: bold;
}

.Text--center {
  text-align: center;
}

.font--italic {
  font-style: italic;
}

.align--end {
  text-align: end;
}

.align--center {
  text-align: center;
}