.Sidenav {
  width: 100%;
  height: 100%;
  background-color: var(--sidenav-background-color);
  align-items: center;
}

.AvatarWrapper {
  margin-top: 5vh;
  display: inherit;
  flex-direction: column;
  margin-bottom: 5vh;
}

.Avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
  
}

.Avatar__Description {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.Sidenav__Section {
  align-self: flex-start;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
}

.Sidenav__SectionTitle {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 2vh;
  font-weight: bold;
}

.Sidenav__SectionItem {
  padding: .8rem 1.25rem;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.Sidenav__SectionItemText, .Sidenav__SectionItemIcon {
  margin-left: 10px;
  position: relative;
  z-index: 10;
  transition-property: color, font-weight;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.Sidenav__SectionItemBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  background-color: white;
}

.Sidenav__SectionItem--Active > .Sidenav__SectionItemText, .Sidenav__SectionItem--Active > .Sidenav__SectionItemIcon {
  color: var(--success-color);
  font-weight: bold;
}

.Sidenav__SectionItem--Active > .Sidenav__SectionItemBg {
  animation-name: show;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes show {
  100% {
    width: 100%;
  }
}
