:root {
  --light-gradient-color: #29C9FF;
  --dark-gradient-color: #003F54;
  --input-background-color: #C8CFCC;
  --link-font-color: #707070;
}

.full-size {
  width: 100%;
  height: 100vh;
}

.gradient-blue {
  background: linear-gradient(to right, var(--light-gradient-color), var(--dark-gradient-color));
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--column {
  flex-direction:column;
}

.Form {
  width: 40%;
  height: 90vh;
  background-color: white;
  padding: 1rem 2rem;
  align-items: center;
}

.Textfield {
  display: inherit;
  flex-direction: column;
}

.Textfield__Label {
  font-size: 18px;
  margin-bottom: 10px;
}

.Textfield__Input {
  width: 25vw;
  padding: 1rem;
  font-size: 18px;
  background-color: var(--input-background-color);
  border-radius: 8px;
  border: none;
}

.Textfield__Input:focus {
  outline: 0;
}

.SubmitButton {
  width: 25vw;
  padding: 1rem;
  background-color: var(--dark-gradient-color);
  color: white;
  border-radius: 8px;
}

.SubmitButton:hover, .SubmitButton:focus {
  background-color: var(--light-gradient-color);
}

.forgotPassword {
  color: var(--link-font-color);
  align-self: flex-end;
}

.Back {
  align-self: flex-start;
}

.Back > span {
  margin-left: 0.5rem;
}