:root {
  --light-gradient-color: #29C9FF;
  --dark-gradient-color: #003F54;
  --input-background-color: #C8CFCC;
  --link-font-color: #707070;
  --sidenav-background-color: #007EA8;
  --title-color: #838383;
  --border-color: #575757;
  --thumbnail-color: #6F58C9;
  --icon-play-color: #EDEAF8;
  --success-color: #51CB20;
  --light-success-color: #E8FAE1;
  --dark-success-color: #286510;
  --menu-item-hover-color: #f5f5f5;
  --alert-color: #FF773D;
  --danger-color: #D92424;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

.full-size {
  width: 100%;
  height: 100vh;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.gradient-blue {
  background: linear-gradient(to right, var(--light-gradient-color), var(--dark-gradient-color));
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex--center {
  justify-content: center;
  align-items: center;
}

.flex--column {
  flex-direction:column;
}

.Form {
  width: 40%;
  height: 90vh;
  background-color: white;
  padding: 1rem 2rem;
  align-items: center;
}

.Textfield {
  display: inherit;
  flex-direction: column;
}

.Textfield__Label {
  font-size: 18px;
  margin-bottom: 10px;
}

.Textfield__Input {
  width: 25vw;
  padding: 1rem;
  font-size: 18px;
  background-color: var(--input-background-color);
  border-radius: 8px;
  border: none;
}

.Textfield__Input:focus {
  outline: 0;
}

.SubmitButton {
  width: 25vw;
  padding: 1rem;
  background-color: var(--dark-gradient-color);
  color: white;
  border-radius: 8px;
}

.SubmitButton:hover, .SubmitButton:focus {
  background-color: var(--light-gradient-color);
}

.forgotPassword {
  color: var(--link-font-color);
  align-self: flex-end;
}

.Back {
  align-self: flex-start;
}

.Back > span {
  margin-left: 0.5rem;
}

.Sidenav {
  width: 100%;
  height: 100%;
  background-color: var(--sidenav-background-color);
  align-items: center;
}

.AdminLayout {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: 1fr;
  column-gap: 1rem;
}

.AdminLayout__Sidenav {
  grid-column-start: 1;
  grid-column-end: 5;
}

.AdminLayout__Content {
  grid-column-start: 6;
  grid-column-end: 15;
  overflow-y: scroll;
  padding-top: 2rem;
}

@media screen and (min-width: 1440px) {
  .AdminLayout__Sidenav {
    grid-column-end: 4;
  }

  .AdminLayout__Content {
    grid-column-start: 5;
  }
}

.AvatarWrapper {
  margin-top: 10vh;
}

.Avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.Avatar__Description {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.Text--white {
  color: white;
}

.Sidenav__Section {
  align-self: flex-start;
  padding-left: 1.5rem;
  margin-bottom: 1rem;
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
}

.Sidenav__SectionTitle {
  font-family: "Montserrat";
  font-size: 14px;
  text-transform: uppercase;
}

.Sidenav__SectionItem {
  padding: 1.25rem 1rem 1rem 1rem;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  width: 100%;
}

.Sidenav__SectionItemText, .Sidenav__SectionItemIcon {
  margin-left: 10px;
  position: relative;
  z-index: 10;
  transition-property: color, font-weight;
  transition-duration: 0.5s;
  transition-timing-function: ease;
}

.Sidenav__SectionItemBg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  border-top-left-radius: 4rem;
  border-bottom-left-radius: 4rem;
  background-color: white;
}

.Sidenav__SectionItem--Active > .Sidenav__SectionItemText, .Sidenav__SectionItem--Active > .Sidenav__SectionItemIcon {
  color: var(--success-color);
  font-weight: bold;
}

.Sidenav__SectionItem--Active > .Sidenav__SectionItemBg {
  animation-name: show;
  animation-duration: .4s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes show {
  100% {
    width: 100%;
  }
}

.Title {
  font-size: 18px;
  color: var(--title-color);
  font-weight: bold;
}

.VideosHeader {
  justify-content: space-between;
  align-items: center;
}

.VideoCard {
  flex: 0 0 auto;
  width: 16rem;
  height: 14rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  overflow: hidden;
  margin-right: 1rem;
}

.VideoCard__Thumbnail {
  width: 100%;
  height: 80%;
  background-color: var(--thumbnail-color);
}

.VideoCard__Thumbnail > * {
  font-size: 3rem;
  color: var(--icon-play-color);
}

.VideoCard__Footer {
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: var(--title-color);
  position: relative;
}

.VideoCard__Title {
  font-size: 1rem;
  font-weight: bold;
  max-width: 70%;
  height: 1.2rem;
  word-wrap: normal;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.VideoCard__Menu {
  cursor: pointer;
}

.PlayList {
  width: 100%;
  height: auto;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 2rem;
  overflow-x: scroll;
}

.Button {
  padding: .5rem 1rem;
  border-radius: 6px;
  text-decoration: none;
}

.AddVideo {
  margin-right: 1rem;
}

.AddVideo > span {
  margin-left: 1rem;
}

.Button--Success {
  background-color: var(--success-color);
  color: var(--light-success-color);
}

.Form--Upload {
  width: 60%;
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 4rem;
}

.Input--Full {
  width: 100%;
}

.Input--File {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.Input--File > input {
  position: absolute;
  z-index: 2;
  opacity: 0;
  height: 3rem;
  width: 100%;
  height: 100%;
}

.Input__Icon {
  font-size: 4rem;
}

.Input__Icon, .Input--File > input {
  cursor: pointer;
}

.UploadButton {
  width: 20vmax;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding: 1rem;
}

.Icon--Success {
  color: var(--success-color);
}

.UploadButton:disabled {
  background-color: var(--dark-success-color);
}

.Loading {
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: linear;
}

@keyframes rotation {
  100% {
    transform: rotate(360deg);
  }
}

.VideoCardMenu {
  width: 15vw;
  height: auto;
  transform: scale(0);
  background-color: white;
  position: absolute;
  z-index: 5;
  padding: 0.5rem 0;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  bottom: 1rem;
  right: 1.5rem;
}

.VideoCardMenu__Item {
  width: 100%;
  height: auto;
  padding: 1rem;
  text-decoration: none;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: none;
}

.VideoCardMenu__Item:hover {
  background-color: var(--menu-item-hover-color);
}

.VideoCardMenu__Item--Blue {
  color: var(--dark-gradient-color);
}

.VideoCardMenu__Item > span {
  margin-left: 8px;
}

.reveal {
  animation-name: reveal;
  animation-duration: .15s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.reveal--inverse {
  animation-name: reveal--inverse;
  animation-duration: .5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes reveal {
  100% {
    transform: scale(1);
  }
}

@keyframes reveal--inverse {
  100% {
    transform: scale(0, 0);
  }
}

.VideoLayout {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 1fr;
}

.Loader {
  width: 100%;
  height: 100%;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.Loader__Icon {
  font-size: 10rem;
  color: var(--dark-gradient-color);
  margin-bottom: 1rem;
}

.Loader__Text {
  font-size: 1rem;
}

.Illustration {
  width: 30vmax;
  height: 15vmax;
}

.Illustration > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.IllustrationDescription {
  font-weight: bold;
  font-size: 20px;
}

.ListItem {
  width: 90%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  justify-content: space-between;
}

.ListItem__Icon {
  font-size: 3rem;
  align-self: center;
}

.Icon--Orange {
  color: var(--alert-color);
}

.Icon--Purple {
  color: var(--thumbnail-color);
}

.Icon--Blue {
  color: var(--dark-gradient-color);
}

.Icon--Red {
  color: var(--danger-color);
}

.ListItem__Content {
  align-self: flex-start;
}

.ListItem__Description {
  margin-left: 1rem;
}

.ListItem__Actions > * {
  margin-right: 10px;
  font-size: 1.5rem;
}
